<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>CERVICAL CANCER WEBSITE</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style.css">
</head>

<body>

  <section>
    <div class="UI">
    </div>
    <header>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <nav class="navbar">
        <ul>
        <img class="logo" src="C:\Users\SOMNATH\Dropbox\My PC (SWAP)\Downloads\rsz_logoimage.png" ALT="align box">
        <a href="#"><i class="fa fa-sign-out"></i> Sign Out </a>
        <a href="#"><i class="fa fa-product-hunt"></i> Prediction</a>
        <a href="#"><i class="fa fa-user-md"></i> Doctor</a>
        <a href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        </ul>
      </nav>
    </header> 

    <div class="bg-img">
    <div class="img1"></div>
    <form action="{{ url_for('predict')}}"method="POST" class="container">
    <h1>Cervical Cancer Prediction</h1>
    <p>Please Fill in the Required Details :</p><br>
     Age<input type="text" name="Age" placeholder="" required="required"/><br>
     Number of sexual partners<input type="text" name="Number of sexual partners" placeholder="" required="required"/><br>
     First Sexual intercourse<input type="text" name="First Sexual intercourse" placeholder="" required="required"/><br>
     Smoke(years)<input type="text" name="Smoke(years)" placeholder="" required="required"/><br>
     Smokes(packs/years)<input type="text" name="Smokes(packs/years)" placeholder="" required="required"/><br>
     Smokes (packs/year)<input type="text" name="Smokes (packs/year)" placeholder="" required="required"/><br>
     IUD<input type="text" name="IUD" placeholder="" required="required"/><br>
     IUD (years)<input type="text" name="IUD (years)" placeholder="" required="required"/><br>
     STDs<input type="text" name="STDs" placeholder="" required="required"/><br>
     STDs (number)<input type="text" name="STDs (number)" placeholder="" required="required"/><br>
     Dx:HPV<input type="text" name="Dx:HPV" placeholder="" required="required"/><br>
     Dx<input type="text" name="Dx" placeholder="" required="required"/><br>
     Hinselmann<input type="text" name="Hinselmann" placeholder="" required="required"/><br>
     Schiller<input type="text" name="Schiller" placeholder="" required="required"/><br>
     Citology<input type="text" name="Citology" placeholder="" required="required"/><br>
     <button type="submit" class="btn">PREDICT</button>
    </form>
 </div>
</body>
</html>