<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CancerQuest</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="\static\css\get.css">
    <script src="https://kit.fontawesome.com/c8b2778b34.js" crossorigin="anonymous"></script>
   
  
</head>
<body>
 
  <header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <nav class="navbar">
      <ul>
      <img class="logo" src="C:\Users\SOMNATH\Dropbox\My PC (SWAP)\Downloads\rsz_logoimage.png" ALT="align box">
      <a class="it" href="/logout"><i class="fa fa-sign-out"></i> Sign Out </a>
      <a class="it" href="/choice">Prediction</a>
      <a class="it" href="#"><i class="fa fa-user-md"></i> Doctor</a>
      <a class="it" href="#"><i class="fa fa-user"></i> Profile</a>
      <a class="it" class="active" href="/getstarted"><i class="fa fa-fw fa-home"></i> Home</a>
      </ul>
    </nav>
  </header> 
</body>
</html>