<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CancerQuest</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="\static\css\style.css">
    <script src="https://kit.fontawesome.com/c8b2778b34.js" crossorigin="anonymous"></script>
   
  
</head>
<body>
 
    <header>
            <nav class="bottom-bar">
                <div class="logo">
                    <img src="\static\css\cancerquest-low-resolution-logo-black-on-transparent-background.png" alt="Logo" class="logoimg">
                </div>
                <ul class="bottom-bar__list">
                    <div class="bottom-bar__active-indicator"></div>
                    <li class="bottom-bar__link selected"><span class="material-symbols-outlined"><a href="/">
                        <i class="fa-solid fa-house"></i></a>
                      </span>Home</i>
                    <li class="bottom-bar__link"><span class="material-symbols-outlined"><a href="/getstarted">
                        <i class="fa-solid fa-magnifying-glass"></i></a>
                      </span>Prediction</li>
                    <li class="bottom-bar__link"><span class="material-symbols-outlined"><a href="/awarness">
                        <i class="fa-solid fa-phone"></i></a>
                      </span>AWARENESS</li>
                    <li class="bottom-bar__link"><span class="material-symbols-outlined"><a href="/login">
                        <i class="fa-solid fa-door-open"></i></a>
                      </span>Login</li>
                    <li class="bottom-bar__link"><span class="material-symbols-outlined"><a href="/signup">
                        <i class="fa-solid fa-right-to-bracket"></i></a>
                      </span>Sign In</li>
                  </ul>
           
        </nav>
        <video autoplay loop muted plays-inline src="\static\css\clip.mp4" type="clip/mp4" class="video"></video>
        <!-- <div class="content">
            <h1>Welcome to CancerQuest</h1>
            <p class="par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque 
                 expedita atque eveniet <br> quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus 
                <br> a quae totam ipsa illum minus laudantium?</p>
    
                <button class="cn"><a href="#">START PREDICTION</a></button> div pending -->
        <!-- <div class="Content">
                    <h1>Welcome To CancerQuest</h1>
                    <p class="par">Cancer is a disease in which some of the bodys cells grow uncontrollably and spread to other parts of the body. Cancer can start almost anywhere in the human body
                       </p>  
                        <a href="" class="button">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Start Prediction
                        </a>
                  
                </div> -->

     
    </header>
    <!-- <div class="content">
        <h1>Welcome to CancerQuest</h1>
        <p class="par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque 
             expedita atque eveniet <br> quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus 
            <br> a quae totam ipsa illum minus laudantium?</p>
            <button class="cn"><a href="#">START PREDICTION</a></button>
            
    </div> -->
    <!-- <div class="animation">
    <canvas id="bg-animation"></canvas> </div> -->
    <!-- <script defer type="text/javascript" src="/script2.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
  AOS.init();
</script>. -->
<div class="Content">
    <h1>Welcome To CancerQuest</h1>
    <p class="par">Cancer is a disease in which some of the bodys cells grow uncontrollably and spread to other parts of the body. Cancer can start almost anywhere in the human body
       </p>  
        <a href="" class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Start Prediction
        </a>
  
</div>
<div class="colorbox">
    <h2 class="colortext">Text</h2></div>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
      chat-icon="https:&#x2F;&#x2F;wallpaperaccess.com&#x2F;full&#x2F;4620961.png"
      intent="WELCOME"
      chat-title="HopeBot"
      agent-id="7479ad25-7560-4b31-8676-51262d0edc95"
      language-code="en"
    ></df-messenger>
    <!-- <h2 class="colortext">Text</h2>
</div> -->
<!--
<div class="grid">
	<div class="card">
		<div class="card__img">
			<img src="https://images.unsplash.com/photo-1572449043416-55f4685c9bb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="">
		</div>
		<div class="card__contenido">
			<h3 class="card__title">
				How To Start A Business With FOOD
			</h3>
			<div class="divider"></div>
			<p class="card__text">
				In the Victorian age people’s attitude to food changed: it became less important. In the twentieth century two world wars meant that some of the recipes for good old English...
			</p>
			<a href="#" class="card__readbtn">read more</a>
		</div>
	</div>
	<div class="card">
		<div class="card__img">
			<img src="https://images.unsplash.com/photo-1514326640560-7d063ef2aed5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Zm9vZHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
		</div>
		<div class="card__contenido">
			<h3 class="card__title">
				FOOD Adventures
			</h3>
			<div class="divider"></div>
			<p class="card__text">
				Five o’clock tea is a national habit. English people have tea with biscuits, apple pie, fruit or fruit salad or sandwiches.At about seven or eight o’clock they have dinner or supper...
			</p>
			<a href="#" class="card__readbtn">read more</a>
		</div>
	</div>
	<div class="card">
		<div class="card__img">
			<img src="https://images.unsplash.com/photo-1516714435131-44d6b64dc6a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGZvb2R8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
		</div>
		<div class="card__contenido">
			<h3 class="card__title">
				It's All About (The) FOOD
			</h3>
			<div class="divider"></div>
			<p class="card__text">
				Another reason for the decline in British cooking was the increase in popularity of fast food, a style of food imported from the USA in the 1960s. People wanted to eat quickly....
			</p>
			<a href="#" class="card__readbtn">read more</a>
		</div>
	</div>
	<div class="card">
		<div class="card__img">
			<img src="https://images.unsplash.com/photo-1525351484163-7529414344d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="">
		</div>
		<div class="card__contenido">
			<h3 class="card__title">
				13 Myths About FOOD
			</h3>
			<div class="divider"></div>
			<p class="card__text">
				For breakfast English people often have porridge with milk and sugar. They don’t eat much bread. They usually have toasts. They enjoy drinking strong tea with milk...
			</p>
			<a href="#" class="card__readbtn">read more</a>
		</div>
	</div> !-->
    <!-- <div class="container">
        <h2>Scrolling Card UI With CSS Grid</h2>
        <ul class="cards">
          <li class="card">
            <div>
              <h3 class="card-title">Service 1</h3>
              <div class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="card-link-wrapper">
              <a href="" class="card-link">Learn More</a>
            </div>
          </li>
          <li class="card">
            <div>
              <h3 class="card-title">Service 2</h3>
              <div class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
              </div>
            </div>
            <div class="card-link-wrapper">
              <a href="" class="card-link">Learn More</a>
            </div>
          </li>
          <li class="card">
            <div>
              <h3 class="card-title">Service 3</h3>
              <div class="card-content">
                <p>Phasellus ultrices lorem vel bibendum ultricies. In hendrerit nulla a ante dapibus pulvinar eu eget quam.</p>
              </div>
            </div>
            <div class="card-link-wrapper">
              <a href="" class="card-link">Learn More</a>
            </div>
          </li>
          <li class="card">
            <div>
              <h3 class="card-title">Service 4</h3>
              <div class="card-content">
                <p>Aenean posuere mauris quam, pellentesque auctor mi bibendum nec. Sed scelerisque lacus nisi, quis auctor lorem ornare vel.</p>
              </div>
            </div>
            <div class="card-link-wrapper">
              <a href="" class="card-link">Learn More</a>
            </div>
          </li>
          
        </ul>
      </div> -->
 
<!-- </div> -->

<div class="container">
    <div class="drop" style="--color: #ff0f5b">
      <div class="content">
        <h2>01</h2>
        <p>Cervical cancer is a type of cancer that affects the cervix, the lower part of the uterus that connects to the vagina.</p>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="drop" style="--color: #be01fe">
      <div class="content">
        <h2>02</h2>
        <p>Breast cancer is a type of cancer that starts in the breast tissue and occurs when cells divide and grow abnormally.</p>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="drop" style="--color: #01b4ff">
      <div class="content">
        <h2>03</h2>
        <p>Lung cancer is a type of cancer that starts in the cells of the lung, typically in the cells that line the air passages.</p>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="drop" style="--color: #72cf78">
        <div class="content">
          <h2>04</h2>
          <p>Liver cancer is a type of cancer that starts in the liver, an organ located in the upper right side of the abdomen that helps process food, drugs, and other substances.</p>
          <a href="#">Read More</a>
        </div>
      </div>
  </div>
<div class="horizontal-scroll2"><div class="horizontal-scroll">
    <footer class="footer-distributed">

        <div class="footer-left">
      <img src="\static\css\cancerquest-low-resolution-logo-black-on-transparent-background.png">
            <h3>Cancer<span>Quest</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">Prediction</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">© 2023 CancerQuest Pvt. Ltd.</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                  <p><span>309 - Rupa Solitaire,
                     Bldg. No. A - 1, Sector - 1</span>
                    Mahape, Navi Mumbai - 400710</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 22-27782183</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@eduonix.com">support@cancer.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                We offer training and skill building courses across Technology, Design, Management, Science and Humanities.</p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>
</div></div>
<script src="static\css\script.js"> </script>
<script src="script2.js"> </script>
</body>
</html>